.btnsMasMenos button {
  border-radius: 5%;
}
#btnSuma {
  background-color: rgb(102, 0, 128);
}
#btnResta {
  background-color: rgb(16, 247, 16);
}
.btnsMasMenos {
  display: flex;
  justify-content: space-around;
  background-color: greenyellow;
}
p {
  font-size: 2rem;
}
